body {
 		height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/*#backgroundimage{
	background-image:url(../images/stripes.jpg);
}*/

/*table, td, th {*/
    /*border: 1px solid black;*/
/*}*/

th {
    background-color: #6C94BD;
    color: white;
}

.maininfo {
			max-width: 100%;
			max-height: 100%;
			padding: 0px 0px 20px 0px;
			margin-top: 25px;
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 20px;
			background-color:#DAE0EB;
			border-radius: 0px;
}

.maininfo2 {
			max-width: 100%;
			max-height: 100%;
			padding: 0px 0px 20px 0px;
			margin-top: 25px;
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 20px;
			background-color:#DAE0EB;
			/*background-color:#CCCCCC;
			background: rgb(204, 204, 204); /*Fall-back for browsers that don't support rgba
		    background: rgba(204, 204, 204, .7);*/
			border-radius: 0px;
}

.video {
			width: 560px;
  			height: auto;
  			margin: 0 auto;
  			position: relative;
}

#explore {
			padding: 10px 0px 20px 0px;
			margin-left: 25px;
			margin-right: 20px;
		}
		
.homepictures {
			position:relative;
			height: 100%;
			font-size: 15px;
		padding-bottom: 20px;
}

.homesight {
			max-width: 100%;
			max-height: 100%;
			/*text-align:center;*/
}

.newsletter{
	width: 250px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	float:left;
}

.grayline {
	position:absolute;
	left: 48%;
	font-size:20px;
	color:#8d8d8d;
	max-width:100%;
	max-height:100%;
}

#primeiro {
	position:absolute;
	left: 20%;
	font-size:24px;
	color:#8d8d8d;
	max-width:100%;
	max-height:100%;
}

.appears{
	position:absolute;
	left:40%;
	background-color:#8d8d8d;
	width: 20px;
	height: 100%;
	/*min-height:5px;
	margin: 0 auto;
	margin-bottom:5px;*/
}

#logo {
	margin:10px 0px 5px 5px;
	padding-left: 15px;
	
}

#topnav {
	padding: 10px 0px 0px 0px;
	max-width: 100%;
	background-image: linear-gradient(90deg, white 310px,#DAE0EB);}

.nav1 {
			max-width: 100%;
			height: 45px;
			margin: 10px 0px 5px 0px;
			padding:10px 22px 5px 22px;
			word-spacing:0px;
			font-size:20px;
			background-color: #6C94BD;}
			
a.topnav:link,a.topnav:visited {
			font-family : Arial;
			color:#ffffff;
			text-decoration:none;}
	
a.topnav:hover,a.topnav:active {
			font-family : Arial;
			color:#555555;
			text-decoration:none;}
	
.nav2 {
			max-width: 100%;
			height: 1500px;
			margin: 70px 30px 15px 30px;
			padding:5px 20px 5px 20px;
			font-size:20px;
			background-color: #e8e8e8;
			text-align: center;
			position:relative;
			top:0;
			width:auto;
 			z-index:100;
 			float:left;}
			
.topnavlng a:link, .topnavlng a:visited {
			font-family : Arial;
			color:#5e5e5e;
			text-decoration:none;}
	
.topnavlng a:hover, .topnavlng a:active {
			font-family : Arial;
			color:#ffffff;
			text-decoration:none;}

			
a.menu:link,a.menu:visited {
	font-family : Arial;
	color:#3b5998;
	text-decoration:none;}
	
a.menu:hover,a.menu:active {
	font-family : Arial;
	color:#3b5998;
	text-decoration:underline;}

* {margin:0;padding:0;} 

html { display: block;
height: 100%;}

#wrap {min-height: 100%;}

#main {
	overflow:visible;
	padding-bottom: 100px;}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background-color: #7092BE;}
	
.oi {
	padding-left:15px;
	padding-top:35px;
	font-family : Arial;
    color: white;
    font-size:100%;}

.center {
	max-width:100%;
	margin:0 auto;
}

.porttudo {
	padding-top:40px;
	position: relative;
	width: 500px;
	height: 400px;
	padding-bottom: 0px;
	margin: 0 auto;}

.portimg {
	height:290px;
	max-width:450px;
	padding:5px 5px 5px 5px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;}

.portimg2 {
	height:290px;
	max-width:450px;
	padding:5px 5px 5px 5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;}
	
.portimg3 {
	height:290px;
	max-width:450px;
	padding:5px 5px 5px 5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;}
	
.portimg4 {
	height:290px;
	max-width:450px;
	padding:5px 5px 5px 5px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:40px;}


.stimg {
	float:left;
	display:block;
	position: relative;
	max-height:130px;
	max-width:210px;
	margin:5px 5px 5px 5px;}

.line {
	float:left;
	display:block;
	position: relative;
	max-height:130px;
	max-width:210px;
	margin:5px 5px 5px 4px;}

.kindle{
	float:left;
	display:block;
	position: relative;
	height:260px;
	width:420px;
	padding:5px 5px 5px 5px;
	margin-top: 45px;}

.sites {
	float:left;
	display:block;
	position: relative;
	height:260px;
	width:420px;
	padding:22px 5px 5px 60px;
	margin-top: 30px;}
	
.kindlesites{
	height:300px;
	width:950px;
	margin-left: auto;
	margin-right: auto;}

.index {
	position:relative;
	height:390px;
	max-width:900px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;}

.first{
	text-align: center;
	position:relative;
	font-family : Arial;
	font-size : 28px;
	color:#8d8d8d;
	height:40px;
	max-width: 100%;
	margin-left: 0px;
	padding-top: 0px;}
	
.second{
	text-align: center;
	position:relative;
	font-family : Arial;
	font-size : 28px;
	color:#8d8d8d;
	height:40px;
	max-width: 100%;
	margin-left: 0px;
	margin-top: 40px;}
	
.third{
	text-align: center;
	position:relative;
	font-family : Arial;
	font-size: 28px;
	color:#8d8d8d;
	height:40px;
	max-width: 100%;
	margin-left: 0px;
	margin-top: 40px;}
	
 .contact {
 	text-align: center;
height:334px;
width:250px;
margin-left: auto;
margin-right: auto;
padding-left:50px;
float: left;
}
 
 .contact1 {
 	text-align: center;
display: block;
position: relative;
height: 140px;
width: 190px;
margin: 5px 5px 5px 5px;}
 
 	.contact2 {
display: block;
position: relative;
height: 140px;
width: 190px;
margin: 5px 5px 5px 5px; }

.center img {
	height:auto;
	max-height:100%;
	width:100%; 
	max-width:210px;
	
}

.myMenu {
	margin:0;
	padding:0;
}

.myMenu li {
	list-style:none;
	display: inline;
	position: relative;
}

.myMenulang {
	margin:0;
	padding:0;
}

.myMenulang li {
	list-style:none;
	display: block;
	position: relative;
	margin: 10px 0;
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
	top:100%;
	left:0;
	background-color:#7092BE;
	visibility:hidden;
}

.myMenu li ul li {
	display:block;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#7092BE;
	width:auto;
	font-family : Arial;
	color:#ffffff;
	text-decoration:none;
}

.myMenu li ul li a:hover {
	background-color:#7092BE;
	font-family : Arial;
	color:#555555;
	text-decoration:none;	
}
		

.login {
	width: 200px;
	margin-left:auto;
	margin-right: auto;
}

.description {
	height: auto;
	width: 100%;
	position: relative;
	padding: 20px 20px 20px 30px;
	/*border: 2px solid #e8e8e8;*/
	font-size: 18px;
}

.articles {
	max-width: 100%;
	margin:0 auto;
	padding-right: 20px;
}
